/* Ajoutez ceci à CityList.css */

.city-distance {
    background-color: #f39c12;
    color: #2c3e50;
    padding: 2px 8px;
    border-radius: 12px;
    font-size: 0.75rem;
    font-weight: bold;
}

.city-details {
    display: flex;
    justify-content: space-between; /* Espace entre région et population */
    margin-top: 5px;
    border-top: 1px opacity 0.1 solid #ecf0f1;
    padding-top: 5px;
}